<div class="content">
  <h1>ichiban</h1>
  <p> The minimalist kanban board </p>
  <%if current_user %>
    <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-default btn-md" %>
    <%= link_to "Todos", user_todos_path(current_user), class: "btn btn-default btn-md" %>
  <% else %>
    <%= link_to "Log In", login_path, class: "btn btn-default btn-md"%>
    <%= link_to "Sign Up", new_user_path, class: "btn btn-default btn-md"%>
  <% end %>
  <footer class="footer">
    <hr>
    <a href="http://github.com/itsWill/ichiban">A Project by Guilherme Mansur</a>
  </footer>
</div>
